@import "../vendor/bootstrap/scss/bootstrap-utilities";

.resume{
    &:before{
        background-image: url("data:image/svg+xml,%3Csvg width='47.564453' height='62.529297' viewBox='0 0 67.564453 62.5293' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='m 19.259766,1.4628906 c -4.704873,0 -8.556641,3.8517678 -8.556641,8.5566404 v 45.416016 c 0,4.704872 3.851767,8.556641 8.556641,8.556641 h 30.320312 c 2.202702,0 4.365932,-0.654639 5.990234,-2.142579 1.624304,-1.487938 2.566407,-3.765572 2.566407,-6.414062 0,0.01005 0.03192,-6.628816 0.06445,-13.666016 0.03254,-7.037199 0.06641,-14.66901 0.06641,-17.304687 0,-3.19314 -0.962301,-5.282614 -3.097656,-7.417969 -1.743721,-1.743721 -5.314416,-5.526709 -8.851563,-8.8789062 -1.768572,-1.6760987 -3.530318,-3.249834 -5.125,-4.4550782 -1.59468,-1.2052441 -2.732946,-2.25 -4.755859,-2.25 z m 0,4.1015625 H 33.085938 V 16.966797 c 1.6e-5,4.671878 3.835922,8.507812 8.507812,8.507812 h 12.568359 c -0.0034,2.986625 -0.02992,9.650312 -0.06055,16.275391 -0.03253,7.036116 -0.06445,13.263708 -0.06445,13.685547 0,1.746008 -0.508509,2.723909 -1.236328,3.390625 -0.727818,0.666716 -1.818769,1.066406 -3.220703,1.066406 H 19.259766 c -2.504396,0 -4.457032,-1.952637 -4.457032,-4.457031 V 10.019531 c 0,-2.5043955 1.952636,-4.4550779 4.457032,-4.4550779 z m 18.609375,0.8515625 c 0.272648,0.1636789 0.560022,0.3480163 0.851562,0.5683594 1.378094,1.0415496 3.068287,2.5385083 4.777344,4.158203 3.418114,3.23939 6.914383,6.947585 8.771484,8.804688 0.3152,0.315199 0.509383,0.51835 0.728516,0.74414 H 41.59375 c -2.104825,0 -3.724602,-1.619775 -3.724609,-3.724609 z M 24.457031,32.869141 a 1.929275,1.929275 0 0 0 -1.929687,1.929687 1.929275,1.929275 0 0 0 1.929687,1.929688 h 20.054688 a 1.929275,1.929275 0 0 0 1.929687,-1.929688 1.929275,1.929275 0 0 0 -1.929687,-1.929687 z m 0,8.136718 a 1.929275,1.929275 0 0 0 -1.929687,1.927735 1.929275,1.929275 0 0 0 1.929687,1.929687 h 20.054688 a 1.929275,1.929275 0 0 0 1.929687,-1.929687 1.929275,1.929275 0 0 0 -1.929687,-1.927735 z m 0,8.134766 a 1.929275,1.929275 0 0 0 -1.929687,1.929687 1.929275,1.929275 0 0 0 1.929687,1.927735 h 20.054688 a 1.929275,1.929275 0 0 0 1.929687,-1.927735 1.929275,1.929275 0 0 0 -1.929687,-1.929687 z' /%3E%3C/svg%3E%0A");
    }
}

.github{
    &:before{
        background-image: url("data:image/svg+xml,%3Csvg width='98' height='96' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z' /%3E%3C/svg%3E");    }
}

.linkedin{
    &:before{
        background-image: url("data:image/svg+xml,%3Csvg width='64.791' height='64.788788' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath id='Path_2520' d='m 55.205,55.204412 h -9.6 v -15.034 c 0,-3.585 -0.064,-8.2 -4.993,-8.2 -5,0 -5.765,3.906 -5.765,7.939 v 15.294 h -9.6 v -30.916 h 9.216 v 4.225 h 0.129 a 10.1,10.1 0 0 1 9.093,-4.994 c 9.73,0 11.524,6.4 11.524,14.726 z m -40.79,-35.143 a 5.571,5.571 0 1 1 5.57,-5.572 5.571,5.571 0 0 1 -5.57,5.572 m 4.8,35.143 h -9.61 v -30.917 h 9.61 z M 59.991,0.00441201 H 4.781 A 4.728,4.728 0 0 0 0,4.674412 v 55.439 a 4.731,4.731 0 0 0 4.781,4.675 h 55.21 a 4.741,4.741 0 0 0 4.8,-4.675 v -55.443 a 4.738,4.738 0 0 0 -4.8,-4.66999999257' fill='currentColor' /%3E%3C/svg%3E");

    }
}

.aboutLinks{
    display: flex;
    align-items: center;
    line-height: 1rem;

    .aboutText{
        display:none;
        color:red;

        @include media-breakpoint-up(md){
            display:block;
        }
        
    }

    a{
        margin: 0 map-get($spacers, 1 );
        &:last-child{
           margin-right: map-get($spacers, 3 );
        }
        &:before{
            display: block;
            content:"";
            width: 30px;
            height: 30px;
            opacity: .9;
            transition: all .15s;

            @include media-breakpoint-up(md){
                width: 25px;
                height: 25px;
            }
            background-position: center;
            background-size: 100% 100%;
        }

        &:hover{
            &:before{
                opacity: .5;
            }
        }


        span{
            display:none;
        }
    
    }
}

