@import "../vendor/bootstrap/scss/bootstrap-utilities";

.languageButton{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;

    @include media-breakpoint-up(md){
        justify-content: flex-end;
        flex-grow: unset;
    }

    
    .btn{
        padding: 0px;
        transition: all .1s;
        font-weight: 800;
        color: red;
        font-size: 1.5rem;

        &:hover{
            color: black;
        }
    }
}