@import "../vendor/bootstrap/scss/bootstrap-utilities";

.languageButton{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;

    @include media-breakpoint-up(md){
        justify-content: flex-end;
        flex-grow: unset;
    }
    
    .btn{
        padding: 0px;
    }
}