@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;600;800&display=swap');
@import "../vendor/bootstrap/scss/bootstrap";

$spacing-levels: (
    0:0px, 
    1:4px, 
    2:8px, 
    3:16px, 
    4:24px, 
    5:32px, 
    6:40px, 
    7:48px, 
    8:56px, 
    9:64px, 
    10:72px, 
    11:96px
);

html,body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1{
    font-weight: 800;
    color: red;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

h2,h3,h4,h5,h6{
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: lowercase;
    color: red;
}

h6{
    font-weight: 300;
}

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

#cityscape{
    top: 0px;
}


@keyframes loadingAnimation {
    10%{
        content: "-";
    }
    20%{
        content: "--";
    }
    30%{
        content: "---";
    }
    40%{
        content: "----";
    }
    50%{
        content: "-----";
    }
    60%{
        content: "------";
    }
    70%{
        content: "-------";
    }
    80%{
        content: "--------";
    }
    90%{
        content: "--------";
    }
    100%{
        content: "---------";
    }
    
}


.loading{
    &::after{
        content:"";
        display: block;
        animation-name: loadingAnimation;
        animation-duration: .2s;
        animation-iteration-count: infinite;
    }
}

.portfolio{
    position: relative;
}
