@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Shippori+Mincho+B1:wght@400;700&display=swap');
@import "../vendor/bootstrap/scss/bootstrap";


$spacing-levels: (
    0:0px, 
    1:4px, 
    2:8px, 
    3:16px, 
    4:24px, 
    5:32px, 
    6:40px, 
    7:48px, 
    8:56px, 
    9:64px, 
    10:72px, 
    11:96px
);

html,body{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 16px;
}

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

#cityscape{
    top: 40px;
}


@keyframes loadingAnimation {
    10%{
        content: "-";
    }
    20%{
        content: "--";
    }
    30%{
        content: "---";
    }
    40%{
        content: "----";
    }
    50%{
        content: "-----";
    }
    60%{
        content: "------";
    }
    70%{
        content: "-------";
    }
    80%{
        content: "--------";
    }
    90%{
        content: "--------";
    }
    100%{
        content: "---------";
    }
    
}


.loading{
    &::after{
        content:"";
        display: block;
        animation-name: loadingAnimation;
        animation-duration: .2s;
        animation-iteration-count: infinite;
    }
}

.portfolio{
    position: relative;
}
