.navigation{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;

    > div{
        flex-grow: 1;
        button{
            background: none;
            border: 0px;
        }
    }
}