@import "../vendor/bootstrap/scss/bootstrap-utilities";

.navigation{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 50;
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 170px;
    padding: map-get($spacers,3);

    &.details-height{
        margin-bottom: 1rem;

        @include media-breakpoint-up(md){
            margin-bottom: 3rem;
        }
    }

    &.active{
        background: white;
        @include media-breakpoint-up(md){
            background: transparent;
        }    
    }

    @include media-breakpoint-up(md){
        flex-direction: row;
        margin-bottom: 170px;
    }

    .mobile{
        display: block;
        flex-grow: 0;
        @include media-breakpoint-up(md){
            display: none;
        }
    }

    .nav-items{
        display: none;
        background: transparent;

        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        min-width: 100%;

        &.active{
            display: flex;
            background: white;
        }

        @include media-breakpoint-up(md){
            position: unset;
            flex-grow: 1;
            min-width: unset;
            top: unset;
            flex-direction: unset;
            display: block;
        }

    }


}