@import "../vendor/bootstrap/scss/bootstrap-utilities";

.navigation{

    button{
        border: 0px;
        background: transparent;
        display: flex;
        justify-content: center;
        padding: 0;


        span{
            padding: 0;
            flex-basis: 100%;
            margin-bottom: .5rem;
            font-size: 2rem;
            font-weight: 800;
            color: red;


            &:hover{
                color: black;
                transition: all .1s;
            }
        }


        @include media-breakpoint-up(md){
            background: transparent;
            display: unset;

            span{
                font-size: 1rem;
                font-weight: 300;
                padding: 0 map-get($spacers,2) 0 0;
                margin-bottom: unset;
                flex-basis: unset;
                color: black;
            }

            &.active{
                
                span{
                    color: red;
                    font-weight: 800;
                    background: transparent;
                }
            }

            &:hover{
                span{
                    color: red;
                }
            }
        }
    }

    &.active{
        .navigationLink.active{
            span{
                color: black;
                
                &:before{
                    content: ">";
                    margin-right: .5rem;
                }

                &:after{
                    content: "<";
                    margin-left: .5rem;
                }
            }
        }
    }
}