@import "../vendor/bootstrap/scss/bootstrap-utilities";

.projectDetails{
    padding: map-get($spacers,3);
    z-index: 20;
    width: 100%;
    background-color: rgba(255,255,255,.7);


    .projectClose{
        display: flex;
        align-items: flex-start;
        margin: 0 0 map-get($spacers,3) 0;
        
        @include media-breakpoint-up(md){
            margin: map-get($spacers,3) 0;
        }

        @include media-breakpoint-up(md){
            align-items: center;
        }
        
        h1{
            flex: 1 1 100%;
        }

    }
    
    .projectHolder{
        display: flex;
        flex-direction: column;
        padding-bottom: map-get($spacers,5);

        @include media-breakpoint-up(md){
            flex-direction: row;
        }
    
        .projectImage{
            flex: 1 1 60%;
            picture{
                display: block;
                border:1px solid $gray-400;
                img{
                    display: block;
                    width: 100%;
                }
            }

        }
        .projectDescription{
            flex: 1 1 100%;
            margin: map-get($spacers,4) 0 0;

            @include media-breakpoint-up(md){
                flex: 1 1 40%;
                padding: 0 0 0 map-get($spacers,4);
            }

        }
    }
}