@import "../vendor/bootstrap/scss/bootstrap-utilities";

.projectSquare{
 
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid $gray-600;
    margin: map-get($spacers,2) map-get($spacers,1);

    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    &::before {
        content: "";
        float: left;
        padding-bottom: 70%;
        // border: 1px solid sandybrown;
    }


    @include media-breakpoint-up(sm){
        flex: 0 0 48.5%;
        // border: 1px solid yellow;

        &::before {
            padding-bottom: 90%;
        }
    }

    @include media-breakpoint-up(md){
        flex: 0 0 32.2%;
        // border: 1px solid pink;
    }

    @include media-breakpoint-up(lg){
        flex: 0 0 24.15%;
        // border: 1px solid green;
    }

    @include media-breakpoint-up(xl){
        flex: 0 0 19.3%;
        // border: 1px solid blue;
    }

    .projectInside{
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
    }


    .projectSquare-title{
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 8px;
        background-color: rgba(255,255,255,.9);
        
    }
}