@import "../vendor/bootstrap/scss/bootstrap-utilities";

.projectUrls{
    a{
        background: transparent;
        border-bottom:1px solid  $gray-400;
        color: black;
        text-align: left;
        padding-left: 0rem;
        border-left: 0;
        border-right: 0;
        padding: 1rem 0 .25rem 0rem;
        display: block;
        text-decoration: none;
        font-weight: 600;

        &:hover{
            color: black;
            padding-left: 1rem;
            transition: all .5s;
        }
    }
}