@import "../vendor/bootstrap/scss/bootstrap-utilities";

.pagination{

    .page-item{
        .page-link{
            border-radius: 0;
            color:black;
            padding: .65em;
            margin:0 map-get($spacers, 1 ) 0 0;
            border-color: red;

            @include media-breakpoint-up(md){
                padding: map-get($spacers, 2 );
                margin: 0 0  map-get($spacers, 1 );
            }

            span{
                display: none;
            }

            &:hover{
                background-color:rgba(255,0,0,.2);
            }
        }

        &.active{
            .page-link{
                color:red;
                background-color: red;
            }
        }
        
    }


}