@import "../vendor/bootstrap/scss/bootstrap-utilities";

.projects{
    padding: map-get($spacers,3);

    h1{
        padding-top: map-get($spacers,3);
    }
    .projectList{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;

    }
}



