@import "../vendor/bootstrap/scss/bootstrap-utilities";

.project-section{
    margin-bottom: 2rem;
}

.projectUrls{

    .project-section{
        display: flex;
        flex-direction: column;
        
        a{
            background: transparent;
            color: black;
            text-align: left;
            padding: 0rem;
            display: block;
            text-decoration: none;
            width: 80%;
            color: red;
            font-size: 1.5rem;
            line-height: 1.5rem;

            text-transform: lowercase;

            margin-bottom: 1.5rem;
            
            font-weight: 800;
            transition: all .1s;


            &:after{
                display: inline-block;

                -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
                -moz-transform: scale(1, 1.5); /* Firefox */
                -ms-transform: scale(1, 1.5); /* IE 9 */
                -o-transform: scale(1, 1.5); /* Opera */
                transform: scale(1, 1.5); /* W3C */
                content: ">";
                font-weight: 300;
                position: relative;
                margin-left: .5rem;
                transition: all .1s;
            }


            &:hover{
                color: black;
                padding-left: 0rem;

                &:after{
                    margin-left: 1rem;
                }
            }
        }
    }
}