@import "../vendor/bootstrap/scss/bootstrap-utilities";

.projects{
    padding: map-get($spacers,3);

    h1{
        padding-top: map-get($spacers,3);
        text-transform: lowercase;
    }

    .categories{
        display: flex;

        @include media-breakpoint-up(md){
            display: none;
        }
    }


    .projectList{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;

    }
}



