@import "../vendor/bootstrap/scss/bootstrap-utilities";

.projectDetails{
    padding: map-get($spacers,3);
    z-index: 20;
    width: 100%;
    background-color: rgba(255,255,255,.7);


    .projectClose{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        margin: 0 0 1rem 0;
        
        @include media-breakpoint-up(md){
            margin: 0 0 3rem 0;
            align-items: flex-start;
            flex-direction: column-reverse;
        }
        
        
        h1{
            width: 100%;
            
            @include media-breakpoint-up(lg){
                width: 50%;
            }
        }

          
        @keyframes moveleft {
            from {
                margin-left: 0px;
            }
            
            to {
                margin-left: -10px;
            }
        }

        .btn-close-holder{
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;

            .closer{
                -webkit-appearance: none;
                appearance: none;
                background: transparent;
                outline: 0;
                border: 0;
                margin-bottom: 1rem;
                
                span{
                    &:after{    
                        -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
                        -moz-transform: scale(1, 1.5); /* Firefox */
                        -ms-transform: scale(1, 1.5); /* IE 9 */
                        -o-transform: scale(1, 1.5); /* Opera */
                        transform: scale(1, 1.5); /* W3C */
                        content: "<<<";
                        font-size: 3rem;
                        line-height: 3rem;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: 300;
                        padding:0;
                        border-radius: 2rem;
                        color: red;
                        outline: 0;
                        display: inline-block;
                    }
                }

                &:hover{
                    span{

                        animation-duration: .5s;
                        animation-name: moveleft;
                        animation-iteration-count: infinite;

                        &:after{
                            color: black;
                        }
                    }
                }
            }
        }

    }
    
    .projectHolder{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: map-get($spacers,5);

        @include media-breakpoint-up(lg){
            flex-direction: row;
        }
    
        .projectImage{
            flex: 1 1 60%;
            picture{
                display: block;
                img{
                    display: block;
                    width: 100%;
                    border:1px solid $gray-400;

                }
            }

        }
        .projectDescription{
            flex: 1 1 100%;
            margin: map-get($spacers,4) 0 0;

            @include media-breakpoint-up(lg){
                flex: 1 1 40%;
                padding: 0 2rem 0 3rem;
            }

        }

        .projectUrls{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
        }

    }
}