@import "../vendor/bootstrap/scss/bootstrap-utilities";

.pagination{

    .page-item{
        .page-link{
            border-radius: 1em;
            color:black;
            padding: .65em;
            margin:0 map-get($spacers, 1 ) 0 0;
            border-color: $gray-500;

            @include media-breakpoint-up(md){
                padding: map-get($spacers, 2 );
                margin: 0 0  map-get($spacers, 1 );
            }

            span{
                display: none;
            }

            &:hover{
                color:$gray-500;
            }
        }

        &.active{
            .page-link{
                color:black;
                background-color: $gray-500;
            }
        }
        
    }


}